In [11]:
str="my name is Muhammed Kazi"
print(str) #prints str
print(str[1]) #prints 1st index str
print(str[1:10]) #prints fromindex 1 to 10 str
print(str[::-1]) #prints reverse string
print(str[::2]) #prints string by skipping 1 character
print(len(str))#prints length of string
print(str.replace("is","is the"))
# str[1]="Y"
print(str)

my name is Muhammed Kazi
y
y name is
izaK demmahuM si eman ym
m aei uamdKz
24
my name is the Muhammed Kazi
my name is Muhammed Kazi

In [38]:
listname=[1,2,3,4]
print(listname) #prints list
print(type(listname)) #prints type of object
print(listname[1]) #prints 1st index value
listname.reverse() #reverses list items
print(listname) 
listname.reverse()
print(listname[::2]) #prints skipping 1 index value
listname.append(5)
print(listname)
listname.extend([6,7,8]) #advance feature of append
print(listname)
listname.insert(1,0) #to insert value at specified index 
print(listname)
print(listname.pop()) #removes last item
print(listname.pop(4)) #removes 4 value from list
print(listname.remove(6)) #removes the specified index's value
print(listname)

x=[[1,2,3], #2D list  #1st row
    [4,5,6]]          #2nd row
print(x[1][0]) #prints 2nd row's 1st value

[1, 2, 3, 4]
<class 'list'>
2
[4, 3, 2, 1]
[1, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 0, 2, 3, 4, 5, 6, 7, 8]
8
4
None
[1, 0, 2, 3, 5, 7]
4

In [37]:
tuple1=(1,2,3) #tuple has round() brackets and list has square[] brackets
print(tuple1)

(1, 2, 3)

In [39]:
set1=set("muhammed") #set cannot store duplicate values
print(set1)

{'h', 'd', 'u', 'm', 'a', 'e'}

In [1]:
dict1={"name":"Muhammed","age":22,"college":"AIMS"}
print(dict1)
print(dict1.keys())
print(dict1.items())
print(dict1.values())

{'name': 'Muhammed', 'age': 22, 'college': 'AIMS'}
dict_keys(['name', 'age', 'college'])
dict_items([('name', 'Muhammed'), ('age', 22), ('college', 'AIMS')])
dict_values(['Muhammed', 22, 'AIMS'])

In [3]:
#numpy
import numpy
array1=numpy.array([1,2,3]) #converting list into array
print(array1) #prints array
print(type(array1)) #prints type

[1 2 3]
<class 'numpy.ndarray'>

In [5]:
# selective function import
from numpy import array
my_array=array([1,2,3]) #writing list
print(my_array)
list1=[4,5,6]
my_array2=array(list1) #passing list
print(my_array2)

[1 2 3]
[4 5 6]

In [5]:
import name
print(name.showName())

Hello Muhammed
None

In [6]:
#functions:-
#built-in Function
weight=[23,45,67,12,65,98,34]
print(max(weight)) #maximum number

#round Function
print(round(35.66)) #print round up value
print(round(35.666,2)) #prints 2 digits after decimal

#type function
weight=[12,3434,465]
print(type(weight)) #prints type of class

help(sorted) #help function shows description of function which has been passed in it.

#upper Function
mystr="python"
print(mystr.upper())

#index function

98
36
35.67
<class 'list'>
Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

PYTHON

In [7]:
#user defind fucntions:-
def my_function():  
    print("Hello World")
    
my_function()

Hello World

In [10]:
#*args 
#*args is used to pass 0 or more values.
def my_args(first_arg,ra,*args):
    print("First Argument is: ",first_arg)
    print("Second Argument is: ",ra)
    print("Third Argument is: ",args)
    print(type(args))
    
my_args("Hello","Muhammed","Kazi")

First Argument is:  Hello
Second Argument is:  Muhammed
Third Argument is:  ('Kazi',)
<class 'tuple'>

In [11]:
#**args
#using ** we can pass dictionary to function
def doublestar_args(**args):
    print(str(args))
    
doublestar_args(name="Muhammed",age=22)

{'name': 'Muhammed', 'age': 22}

In [21]:
#lambda function
#another way to write function
#lamba function can be writen in one line.
#function_name= lambda argument : calculation
add = (lambda value1,value2:value1+value2)
print(add(5,4))

min=lambda x,y:x if x<y else y
print(min(100,50))

9
50

In [18]:
#normal program to find lenghth of every element in a list.
list1=["muhammed","altamash","shahbaj","zareen"]
for i in list1:
    print(len(i))

8
8
7
6

In [20]:
#using lambda to find lenmgth of list
length=lambda list1:len(list1) 
list2=["muhammed","kazi"]
length(list2)

2

In [29]:
#map() is used to map function and objects such as list, tuple,etc
def square(x):
    return x*x

list1=[1,2,3,4]
squarekaro=map(square,list1)
print(list(squarekaro))

[1, 4, 9, 16]

In [30]:
#filter
#add those elements whose first starts with S using lambda and filter.
mylist=["Muhammed","Kazi","Altamash","Shahbaj"]
print(list(filter(lambda x: x[0]=='S',mylist)))

['Shahbaj']

In [31]:
#reduce
from functools import reduce
mylist1=[1,2,3,4,5]
factorial=reduce(lambda x,y:x*y,mylist1)
print(factorial)

120

In [34]:
# another way
from functools import reduce
mylist3=list(range(0,16))
factorial=reduce(lambda x,y:x+y,mylist3)
print(factorial)

120

In [3]:
#numpy

import numpy as np #importing numpy
n1=np.array([10,20,30,40]) #we are passing list to array function & it converts it into numpy array
print(n1)
print(type(n1))

n2=np.array([[10,20,30,40], #2D array
             [50,60,70,80]])
print(n2)
print(type(n2))

[10 20 30 40]
<class 'numpy.ndarray'>
[[10 20 30 40]
 [50 60 70 80]]
<class 'numpy.ndarray'>

In [5]:
import numpy as np
n1=np.random.randint(1,100,5) #randint() generates random numbers
# 1 is initialization, 100 is last number, we will get total 5 random numbers
n1

array([97, 86,  5, 15, 19])

In [11]:
import numpy as np
n1=np.array([10,20,30,40,50])
n2=np.array([10,70,80,90,100])
n3=np.intersect1d(n1,n2) #displays common elemnts from both arrays
print(n3)


n4=np.setdiff1d(n1,n2) #removes common elements from both and displays elements from n1
print(n4)

n5= np.setdiff1d(n2,n1) #removes common elements from both and displays elements from n2
print(n5)

[10]
[20 30 40 50]
[ 70  80  90 100]

In [16]:
#broadcasting:-
#reaching to each element

import numpy as np
list1=[1,2,3,4,5]
n1=np.array(list1)
n2=n1*5 #broadcaasting to every element
#multiplying every element by 5 in array
print(n2)

[ 5 10 15 20 25]

In [20]:
import numpy as np
weight=[10,20,30,40,50]
height=[1.1,7.5,8.3,9.2,1.5] 
weight_np=np.array(weight)
height_np=np.array(height)

bmi=weight_np/height_np**2 
print(bmi)

[ 8.26446281  0.35555556  0.43547685  0.47258979 22.22222222]

In [30]:
import numpy as np

weight=[50,60,46,98,66]
n1=np.array(weight)
print(n1)
print(n1[2]) #value at 2nd index
print(n1[2:4]) #value from 2nd index to 4th index
print(n1>65) #checks all elements are greater than 65 and true or false for every element
print(n1[n1>65]) #ceates array of nmbers greater than 65

[50 60 46 98 66]
46
[46 98]
[False False False  True  True]
[98 66]

In [36]:
#2D Numpy array
import numpy as np

weight=[10,20,30,40,50]
height=[1.1,7.5,8.3,9.2,1.5]

twoD_array=np.array([weight,height])
print(twoD_array)
print(twoD_array.shape)

threeD_array=np.array([[weight,height],[weight,height],[weight,height]])
print(threeD_array.shape)

[[10.  20.  30.  40.  50. ]
 [ 1.1  7.5  8.3  9.2  1.5]]
(2, 5)
(3, 2, 5)

In [54]:
import numpy as np

weight=[10,20,30,40,50]
height=[1.1,7.5,8.3,9.2,1.5]

twoD_array=np.array([weight,height])
print("2D array is:",twoD_array)
print("2D array's 1st row is:",twoD_array[0]) #prints 1st row
print("2D array's 1st row's 3rd element is:",twoD_array[0,2]) #prints 1st row's 3rd element
print("2D array's 1st row's 2nd element to 4th element is:",twoD_array[0,1:3]) #prints 1st row's 2nd to 4th element

print("All rows's 3rd and 4th column is:- ",twoD_array[:,2:4])

2D array is: [[10.  20.  30.  40.  50. ]
 [ 1.1  7.5  8.3  9.2  1.5]]
2D array's 1st row is: [10. 20. 30. 40. 50.]
2D array's 1st row's 3rd element is: 30.0
2D array's 1st row's 2nd element to 4th element is: [20. 30.]
All rows's 3rd and 4th column is:-  [[30.  40. ]
 [ 8.3  9.2]]

In [ ]:
# pandas:-
# shape()
# head()
# describe()
# tail()

In [57]:
import numpy as np
nums=np.arange(1,5).reshape((2,2))
print(nums)
print(np.linalg.inv(nums))

[[1 2]
 [3 4]]
[[-2.   1. ]
 [ 1.5 -0.5]]

In [9]:
#--------------------pandas----------------------
# pandas- panel data
# used for data manipulation and data analysis
import pandas as pd
series1=pd.Series([1,2,3,4]) #a list is passed to Series()
print(series1) #it will print index and values
type(series1)

0    1
1    2
2    3
3    4
dtype: int64

pandas.core.series.Series

In [10]:
import pandas as pd
series1=pd.Series([1,2,3,4],index=['a','b','c','d']) #index attribute of Series() changes index values from 0,1,2,3 to a,b,c,d
print(series1)

a    1
b    2
c    3
d    4
dtype: int64

In [12]:
import pandas as pd
series1=pd.Series({'a':10,'b':20,'c':30,'d':40}) #a dictionary is passed to Series()
# here we are passing only one value to a key
print(series1) #it will print key and values
type(series1)

a    10
b    20
c    30
d    40
dtype: int64

pandas.core.series.Series

In [17]:
import pandas as pd
df1=pd.DataFrame({'Name':['Muhammed','Altamash','Shahbaj'],'Marks':[76,55,45]})
# here we are passing a list to every key, that list is having multiple values.
print(df1)
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [23]:
# head() -shows top 5 rows
# tail() - shows last row

d_series=pd.date_range(start='01-01-2018',end='31-01-2018')
print(type(d_series))
print(d_series)

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [26]:
india_dict={"state":["Sikkim","Gujrat","Bihar","UP"],
            "Capital":["Gangtok","Ahmedabad","Patna","Lucknow"],
            "Population":[46.77,66.04,80.64,90.55]}
print(type(india_dict))
import pandas as pd
india_dataframe=pd.DataFrame(india_dict)
print(india_dataframe)

<class 'dict'>
    state    Capital  Population
0  Sikkim    Gangtok       46.77
1  Gujrat  Ahmedabad       66.04
2   Bihar      Patna       80.64
3      UP    Lucknow       90.55

In [31]:
#difference between series and dtaframe is that
# we can have only one value in series
# whereas in dataframe we can have multiple values in columns

# importing from csv
brics_csv=r"C:\Users\admin\Downloads\Pandas\Datasets\GovtData\brics.csv"
brics_dataframe=pd.read_csv(brics_csv,index_col=0) #index_col=0 means dont diplay index values
print(brics_dataframe)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [35]:
market=r"C:\Users\admin\Downloads\Pandas\Datasets\ECommerce\market_fact.csv"
market_dataframe=pd.read_csv(market)
print(market_dataframe.head()) #displays first 5 rows.

market_df2=pd.read_csv(market,index_col=0)
print(market_dataframe.head()) #displays first 5 rows

     Ord_id  Prod_id   Ship_id    Cust_id    Sales  Discount  Order_Quantity  \
0  Ord_5446  Prod_16  SHP_7609  Cust_1818   136.81      0.01              23
1  Ord_5406  Prod_13  SHP_7549  Cust_1818    42.27      0.01              13
2  Ord_5446   Prod_4  SHP_7610  Cust_1818  4701.69      0.00              26
3  Ord_5456   Prod_6  SHP_7625  Cust_1818  2337.89      0.09              43
4  Ord_5485  Prod_17  SHP_7664  Cust_1818  4233.15      0.08              35

    Profit  Shipping_Cost  Product_Base_Margin
0   -30.51           3.60                 0.56
1     4.56           0.93                 0.54
2  1148.90           2.50                 0.59
3   729.34          14.30                 0.37
4  1219.87          26.30                 0.38
     Ord_id  Prod_id   Ship_id    Cust_id    Sales  Discount  Order_Quantity  \
0  Ord_5446  Prod_16  SHP_7609  Cust_1818   136.81      0.01              23
1  Ord_5406  Prod_13  SHP_7549  Cust_1818    42.27      0.01              13
2  Ord_5446   Prod_4  SHP_7610  Cust_1818  4701.69      0.00              26
3  Ord_5456   Prod_6  SHP_7625  Cust_1818  2337.89      0.09              43
4  Ord_5485  Prod_17  SHP_7664  Cust_1818  4233.15      0.08              35

    Profit  Shipping_Cost  Product_Base_Margin
0   -30.51           3.60                 0.56
1     4.56           0.93                 0.54
2  1148.90           2.50                 0.59
3   729.34          14.30                 0.37
4  1219.87          26.30                 0.38